/* sets basic parameters for webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color of webpage */
body {
    background-color: #d9dcd6;
}

/* used for the nav bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* used for the company's title */
nav h1 {
    display: inline-block;
    font-size: 48px;
}

/* used for "seo" portion of title name */
nav h1 .seo {
    color: #d9dcd6;
}

/* update semantic html tags */
/* sets style and sizing of navbar links */
nav ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* changes li item style types */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* changes div ul property style types */
/* nav div ul {
} */

/* updates link text and removes decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* main page photo */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* large section which includes all three main articles on the left side */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* size and styling for box and text of main articles */
/* .search-engine-optimization, .online-reputation-management, .social-media-marketing { */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* used for image sizing within main articles*/
/* .search-engine-optimization img, .online-reputation-management img, .social-media-marketing img { */
article img {
    max-height: 200px;
}

/* used for title styling of articles within webpage */
/* .search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 { */
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changes size of all p tags */
p {
    font-size: 16px;
}

/* image float for search engine optimization and social media marketing blocks */
.float-left {
    float: left;
    margin-right: 25px;
}

/* image float for reputation management */

.float-right {
    float: right;
    margin-left: 25px;
}

/* start sidebar */

/* describes container for the sidebar */
/* .benefits { */
aside {
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #2589bd;
}

/* text margins and color for each section of the sidebar */
/* .benefit-lead, .benefit-brand, .benefit-cost { */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling and margins for sidebar headers */
/* .benefit-lead h3, .benefit-brand h3, .benefit-cost h3 { */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* image sizing within each section of the sidebar */
/* .benefit-lead img, .benefit-brand img, .benefit-cost img { */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* end sidebar */

/* used for information for the footer of the webpage */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
